@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-color: #007B7C;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.bottom-bar{
  background-color: #B8B8B8;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 42px;
  color: white;
  
  padding: 2px;

  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;

  border-bottom: 2px solid #4b4b4b;
  border-right: 2px solid #4b4b4b;

  display: flex;
  align-items: center;

  z-index: 10;
}

.tab-button{
  height: 100%;

  color: black;
  font-weight: bold;
  border: none;
  font-size: 16px;
  cursor: pointer;

  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;

  border-bottom: 2px solid #4b4b4b;
  border-right: 2px solid #4b4b4b;

  align-self: center;
  
  display: flex;
  gap: 6px;
  align-items: center;

  padding-left: 4px;
  padding-right: 4px;
}

.tab-button:hover{
  background-color: #cecece;
}

.tab-icon{
  height: 20px;
  width: 20px;
}

.separation-y-bar{
  height: 90%;
  margin-left: 4px;
  margin-right: 4px;

  border-right: 1px solid #4b4b4b;
}

.separation-x-bar{
  width: 100%;

  border-bottom: 1px solid #4b4b4b;
  border-top: 1px solid #ffffff;
}

.tab-list{
  display: flex;
  align-items: center;
  height: 100%;
}

.clock{
  height: 100%;
  
  font-size: 16px;
  
  font-weight: normal;
  margin-left: auto;
  margin-right: 4px;

  display: flex;
  align-items: center;
  gap: 4px;

  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;

  border-bottom: 2px solid #4b4b4b;
  border-right: 2px solid #4b4b4b;

  padding-left: 4px;
  padding-right: 4px;
}

/** Window Styles */

.window-app{
  position: fixed;

  background-color: #cecece;
  padding: 2px;

  z-index: 5;
}

.window-component{
  width: 100%;
  height: 100%;
  background-color: #cecece;

  border: 2px solid #FFFFFF;

  padding: 2px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.window-app-title-bar{
  width: 100%;
  height: 28px;

  background-color: #0000A8;
  
  color: white;

  display: flex;
  gap: 4px;
  align-items: center;

  padding-left: 4px;
  padding-right: 4px;
}

.window-app-title-bar-icon{
  height: 20px;
  width: 20px;
}

.window-app-title-bar-buttons{
  height: 100%;
  width: auto;

  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 4px;
}

.window-app-title-bar-button{
  height: 18px;
  width: 22px;

  background-color: #B8B8B8;
  
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;

  border-bottom: 2px solid #4b4b4b;
  border-right: 2px solid #4b4b4b;
}

.window-app-title-bar-button:hover{
  background-color: #cecece;
}

.window-app-content{
  width: 100%;
  height: 100%;

  background-color: #cecece;

  padding: 4px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.window-app-iframe{
  width: 100%;
  height: 100%;

  border: none;
}

.expand-window{
  cursor: nwse-resize;
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 10;

  color: #ffffff;
}